

input {
	/* 隐藏复选框 */
	display: none;
}

label {
	position: relative;
	width: 50px;
	height: 25px;
	border-radius: 100px;
	/* 按钮背景颜色 */
	border: 2px solid #72cce3;
	background-color: #96dcee;
	transition: all 0.35s ease-in;
	
}
label::before {
	content: "";
	position: absolute;
	top: 0.5px;
	left: 0.5px;
	width: 20.5px;
	height: 20.5px;
	border-radius: 50%;
	/* 按钮昼颜色 */
	border: 2px solid #f5eb71;
	background-color: #fffaa8;
	transition: all 0.35s ease-in;
	animation: switch-reverse 0.35s forwards;
	/* 鼠标移入变小手 */
	cursor: pointer;
}

/* 点击时切换背景颜色 */
input:checked ~ .background {
	background-color: #808fc7;
}
input:checked + label {
	border-color: #5d6baa;
	background-color: #6b7abb;
}
input:checked + label::before {
	/* 按钮夜间颜色 */
	border-color: #e8e8ea;
	background-color: #fff;
	/* 这里面需要动画我们先把动画定义好 */
	/* 动画 名称 时长 forwards就是动画完成后定制100%是的状态 */
	animation: switch 0.35s forwards;
}
input:checked + label::after {
	opacity: 1;
	/* 过渡延迟时间 */
	transition-delay: 0.25s;
}
input:checked + label span {
	width: 5px;
	left: 60px;
}
input:checked + label span::before {
	width: 5px;
	height: 5px;
	top: -25px;
}
input:checked + label span::after {
	width: 5px;
	height: 5px;
	top: 20px;
	left: -30px;
}

@keyframes switch {
	0% {
		left: 0px;
	}
	60% {
		left: 4px;
		width: 10px;
	}
	100% {
		left: 25px;
	}
}
/* 顺便定义取消复选框选中状态的动画 */
@keyframes switch-reverse {
	0% {
		left: 25px;
	}
	60% {
		left: 4px;
		width: 10px;
	}
	100% {
		left: 0px;
	}
}
